<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>
<div id="container">
    <div>
        <ul>
            <li>product_name: <span th:text="${product.product_name}"></span></li>
            <li>product_price: <span th:text="${product.product_price}"></span></li>
            <li>product_stock: <span th:text="${product.product_stock}"></span></li>
        </ul>



        <div id="button">
            <p>
                [<a th:href="@{/product_list}">Back to List</a>]
            </p>
            <p>
                [<a th:href="@{/update_product(id=${product.product_id})}">Update product</a>]
            </p>

        </div>

        <form method="post" th:action="@{/delete_product(id=${product.product_id})}">
            <input type="submit" value="delete product">
        </form>
        <form method="post" th:action="@{/add_to_cart(id=${product.product_id})}">
            <input type="number" id="quantity" name="quantity" min="1" max="10" th:value="1" />
            <input type="submit" value="add to cart">
        </form>





    </div>
</div>

</body>
</html>
