<!--
    쇼핑몰 관리자가 제품을 등록하는 페이지

    입력 사항 - 제품의 이름, 제품의 가격, 제품 재고, 제품 종류
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <title>insert_product</title>
</head>
<body>
    <form th:action="@{/register_product}" method="post" id="register_product">
        <input type="text" name="product_name" placeholder="product_name">
        <input type="text" name="product_price" placeholder="product_price">
        <input type="text" name="product_stock" placeholder="product_stock">

        <!-- 제품 타입 select option -->
        <select name="product_type">
            <option value="">product type</option>
            <option th:value="climbing_utensils">climbing_utensils</option>
            <option th:value="climbing_shoes">climbing_shoes</option>
            <option th:value="cloths">cloths</option>
        </select>


        <input type="submit" value="register_product">
    </form>


</body>
</html>
