<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.conquercrux.mapper.cart.CartMapper">

    <!-- 카트에 제품 추가  -->
    <insert id="addToCart" parameterType="com.example.conquercrux.domain.Cart">
        INSERT INTO cart (member_id, product_name, product_price, product_quantity, product_stock)
        SELECT #{member_id}, #{product_name}, product_price, #{product_quantity}, product_stock
        FROM product WHERE product_name = #{product_name}
    </insert>

    <!-- 카트 레코드 읽어오기 -->
    <select id="readCartItem" resultType="com.example.conquercrux.domain.Cart" parameterType="java.lang.String">
        SELECT * FROM cart
        WHERE product_name = #{product_name}
    </select>

    <!-- 카트 아이템 업데이트 -->
    <update id="updateCartItem" parameterType="com.example.conquercrux.domain.Cart">
        UPDATE cart
        SET product_quantity = #{product_quantity}
        WHERE member_id = #{member_id} AND product_name = #{product_name}
    </update>


    <!-- 카트 아이템 삭제 -->
    <delete id="deleteCartItem" parameterType="java.util.Map">
        DELETE FROM cart
        WHERE member_id = #{member_id} AND product_name = #{product_name}
    </delete>

    <!-- 특정 회원의 카트 아이템들 조회 -->
    <select id="getCartItemsByMemberId" resultType="com.example.conquercrux.domain.Cart">
        SELECT member_id, product_name, product_price, product_quantity, product_stock
        FROM cart
        WHERE member_id = #{member_id}
    </select>

    <!-- member_id로 식별하여 member별 모든 상품의 가격을 구하는 sql -->
    <select id="getMemberTotalAmount" resultType="int">
        SELECT COALESCE(SUM(product_price * product_quantity), 0) AS total_amount
        FROM Cart
        WHERE member_id = #{member_id}
    </select>




</mapper>
