<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.conquercrux.mapper.delivery.DeliveryMapper">

    <!--  새로운 배송 등록  -->
    <insert id="createDelivery" parameterType="com.example.conquercrux.domain.Delivery">
        <selectKey keyProperty="delivery_id" order="BEFORE" resultType="long">
            SELECT NEXTVAL('SEQ_DELIVERY_ID') FROM dual
        </selectKey>

        INSERT INTO deliver (delivery_id, member_address, delivery_status, delivery_memo, recipient_name)
        SELECT #{delivery_id}, member_address, #{delivery_status}, #{delivery_memo}, #{recipient_name}
        FROM member WHERE member_id = #{member_id}
    </insert>

    <!--  아이디를 통해 배송정보 조회  -->
    <select id="readDelivery" resultType="com.example.conquercrux.domain.Delivery">
        SELECT * FROM delivery WHERE delivery_id = #{delivery_id}
    </select>

    <!-- 배송 위치에 따라 배송상태 변경, 배송 상태에따른 주소변경 -->
    <update id="updateDelivery" parameterType="com.example.conquercrux.domain.Delivery">
        UPDATE delivery
        SET delivery_status = #{delivery_status},
        delivery_address = #{delivery_address}
        WHERE delivery_id = #{delivery_id}
    </update>


    <!-- 아이디값을 통해 배송 취소 -->
    <delete id="deleteDelivery" parameterType="com.example.conquercrux.domain.Delivery">
        DELETE FROM delivery WHERE delivery_id = #{delivery_id}
    </delete>

</mapper>
