<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <title>Title</title>
    <link th:href="@{/css/home/home.css}" rel="stylesheet" />

</head>
<body>

    <!-- 세션에서 member_id를 가져옵니다. -->
    <div th:if="${session.member_id}">
        <p>Welcome, <span th:text="${session.member_id}"></span></p>
    </div>
    <div th:unless="${session.member_id}">
        <!-- 로그인 버튼을 출력합니다. -->
        <button><a th:href="@{/login}">Login</a></button>
    </div>
    <button><a th:href="@{/logout}">logout</a></button>
    <button><a th:href="@{/mypage}">My page</a></button>
    <button><a th:href="@{/cart}">Cart</a></button>
    <button><a th:href="@{/product_list}">product_list</a></button>
    <button><a th:href="@{/product_page/climbing_utensils}">climbing_utensils</a></button>
    <button><a th:href="@{/product_page/climbing_shoes}">climbing_shoes</a></button>
    <button><a th:href="@{/product_page/cloths}">cloths</a></button>


</body>
</html>
